.vacanciesHeader {
  display: flex;
  margin-bottom: 50px;
  &__searchInputWrapper {
    max-width: 640px;
    width: 100%;
    margin-right: 20px;
  }
  &__inputWrapper {
    max-width: 640px;
    width: 100%;
  }
}

@media (max-width: 767.98px) {
  .vacanciesHeader {
    flex-direction: column;

    &__searchInputWrapper {
      margin-bottom: 15px;
    }
  }
}
